html { scroll-behavior: smooth;}

.teaser{
    background-color: lightblue;
    padding: 3rem;
}

.sub-heading{
    padding-left: 1rem;
    border-left: solid 6px transparent;
    border-left-color: lightskyblue;
}

.row.bio{
    margin: 0px 0px 0px 0px
}

.row.skills{
    margin-top: 3rem;
}

.item{
    margin-bottom: 32px;
}

.item-icon{
    height: 45px;
}

.item-icon svg{
    height: 30px;
}

.item-title{
    margin-top: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */
}

.project-item-container {
    margin-bottom: 48px;
}

.card-img-holder {
    max-height: 250px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-body {
    line-height: 24px;
    overflow-wrap: break-word;
}

.card-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.card-img {
    overflow-wrap:break-word;
}

.card-description {
    font-size: 14px;
    margin-bottom: 10px;
}

br {
    background-color: red;
}

.project-item-container a {
    text-decoration: none;
}